# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build

# misc
.DS_Store
npm-debug.log

# ignore test snapshots
#src/containers/__tests__/__snapshots__/
**/__snapshots__/
